.Mui-selected {
  color: white
}
.MuiCardActions-root {
  justify-content: center;
}
.MuiBadge-anchorOriginTopRightRectangular {
  right: 138px !important;
  top: 50px !important;
  height: 24px;
  width: 24px;
  font-size: 18px;
  background-color: red;
  color: white;
  border-radius: 100;
}

/* .MuiPaper-rounded {
  border-radius: 10% !important;
  padding: 18px;
} */

.MuiFormControl-root {
  width: 100%;
}